---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Skills">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p class="font-semibold">
        Tech Stack:
      </p>
      <ul class="list-disc list-inside">
        <li>Java</li>
        <li>Python
          <ul class="list-disc list-inside ml-4">
            <li>Flask</li>
          </ul>
        </li>
        <li>C</li>
        <li>Javascript</li>
        <li>SQL</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Choosing the right tools for the job is essential for building efficient and effective systems.
    </p>
    <p class="text-sm font-light">
      I enjoy exploring technologies and understanding their underlying architectures, and how they can be used to solve real-world problems.
    </p>
  </div>
</Card>
