---
import Card from "./Card/index.astro";
---
<Card colSpan="md:col-span-1" rowSpan="md:row-span-8" title="Work Experience">
  <div class="flex flex-col gap-4 -ml-3">
    <!-- Timeline line with minimum width -->
    <div class="relative">
      <!-- Timeline line -->
      <div class="absolute left-0.8 top-0 bottom-0 w-0.5 bg-[#e63946] dark:bg-gray-700"></div>
      
      <!-- Allvue Systems -->
      <div class="relative pl-5 pb-5">
        <!-- Timeline circle -->
        <div class="absolute left-0 top-1.5 w-2 h-2 rounded-full bg-[#e63946] border border-white dark:border-gray-900 z-10"></div>
        
        <h3 class="font-semibold">Allvue Systems</h3>
        <div class="text-sm">
          <h5>Senior Technical Business Analyst</h5>
          <p><i>Mar 2022 - Sep 2024 | NY, NY</i></p>
          <br />
        </div>
        <div class="text-sm">
          <h5>Technical Business Analyst</h5>
          <p><i>Mar 2021 - Mar 2022 | Miami, FL</i></p>
          <br />
        </div>
        <div class="text-sm">
          <h5>Business Intelligence Developer</h5>
          <p><i>Dec 2019 - Mar 2021 | Miami, FL</i></p>
        </div>
      </div>
      
      <!-- Resia -->
      <div class="relative pl-5 pb-5">
        <!-- Timeline circle -->
        <div class="absolute left-0 top-1.5 w-2 h-2 rounded-full bg-[#e63946] border border-white dark:border-gray-900 z-10"></div>
        
        <h3 class="font-semibold">Resia</h3>
        <div class="text-sm">
          <h5>Business Intelligence Developer</h5>
          <p><i>Sep 2017 - Dec 2019 | Miami, FL</i></p>
        </div>
      </div>
      
      <!-- Bogen Communications -->
      <div class="relative pl-5 pb-5">
        <!-- Timeline circle -->
        <div class="absolute left-0 top-1.5 w-2 h-2 rounded-full bg-[#e63946] border border-white dark:border-gray-900 z-10"></div>
        
        <h3 class="font-semibold">Bogen Communications</h3>
        <div class="text-sm">
          <h5>QA Intern</h5>
          <p><i>Feb 2016 - Jul 2017 | Orlando, FL</i></p>
        </div>
      </div>
      
      <!-- UCF -->
      <div class="relative pl-5">
        <!-- Timeline circle -->
        <div class="absolute left-0 top-1.5 w-2 h-2 rounded-full bg-[#e63946] border border-white dark:border-gray-900 z-10"></div>
        
        <h3 class="font-semibold">UCF</h3>
        <div class="text-sm">
          <h5>Data Structs & Algorithms Tutor</h5>
          <p><i>Feb 2016 - Jul 2017 | Orlando, FL</i></p>
        </div>
      </div>
    </div>
  </div>
</Card>