---
import Card from "./Card/index.astro";
---
<Card colSpan="md:col-span-1" rowSpan="md:row-span-8" title="Work Experience">
  <div class="flex flex-col gap-4 text-sm font-light -ml-3">
    <!-- Timeline line with minimum width -->
    <div class="relative">
      <!-- Timeline line -->
      <div class="absolute left-1 top-0 bottom-0 w-0.5 bg-gray-300 dark:bg-gray-700"></div>
      
      <!-- Allvue Systems -->
      <div class="relative pl-5 pb-5">
        <!-- Timeline circle -->
        <div class="absolute left-0 top-1.5 w-2 h-2 rounded-full bg-blue-500 border border-white dark:border-gray-900 z-10"></div>
        
        <h4 class="text-lg font-semibold">Allvue Systems</h4>
        <div>
          <h5 class="font-medium">Senior Technical Business Analyst</h5>
          <p><strong>Mar 2022 - Sep 2024</strong> | NYC, NY</p>
        </div>
        <div>
          <h5 class="font-medium">Technical Business Analyst</h5>
          <p><strong>Mar 2021 - Mar 2022</strong> | Miami, FL</p>
        </div>
        <div>
          <h5 class="font-medium">Business Intelligence Developer</h5>
          <p><strong>Dec 2019 - Mar 2021</strong> | Miami, FL</p>
        </div>
      </div>
      
      <!-- Resia -->
      <div class="relative pl-5 pb-5">
        <!-- Timeline circle -->
        <div class="absolute left-0 top-1.5 w-2 h-2 rounded-full bg-blue-500 border border-white dark:border-gray-900 z-10"></div>
        
        <h4 class="text-lg font-semibold">Resia</h4>
        <div>
          <h5 class="font-medium">Business Intelligence Developer</h5>
          <p><strong>Sep 2017 - Dec 2019</strong> | Miami, FL</p>
        </div>
      </div>
      
      <!-- Bogen Communications -->
      <div class="relative pl-5 pb-5">
        <!-- Timeline circle -->
        <div class="absolute left-0 top-1.5 w-2 h-2 rounded-full bg-blue-500 border border-white dark:border-gray-900 z-10"></div>
        
        <h4 class="text-lg font-semibold">Bogen Communications</h4>
        <div>
          <h5 class="font-medium">QA Intern</h5>
          <p><strong>Feb 2016 - Jul 2017</strong> | Orlando, FL</p>
        </div>
      </div>
      
      <!-- UCF -->
      <div class="relative pl-5">
        <!-- Timeline circle -->
        <div class="absolute left-0 top-1.5 w-2 h-2 rounded-full bg-blue-500 border border-white dark:border-gray-900 z-10"></div>
        
        <h4 class="text-lg font-semibold">UCF</h4>
        <div>
          <h5 class="font-medium">Computer Science Tutor</h5>
          <p><strong>Feb 2016 - Jul 2017</strong> | Orlando, FL</p>
        </div>
      </div>
    </div>
  </div>
</Card>